@keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -660px;
  }
}

@keyframes rollStop {
  0% {
    top: 0px;
  }
  100% {
    top: -600px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn;
  animation-delay: 3250ms;
}

.rouletting {
  animation-name: roll, roll, rollStop;
  animation-duration: 750ms, 500ms, 750ms;
  animation-delay: 0ms, 750ms, 1250ms;
  animation-timing-function: ease-in, linear, ease-out;
}
/* 
.rouletting {
  animation: roll 750ms ease-in, roll 500ms linear 750ms, rollStop 750ms ease-out 1250ms;
} */
