@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility */
.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* All links inside paragraphs are now collorfull */
p > a {
  color: #3ec7f4;
}

/* User selected text is now a better blue */
body[dark='false'] ::selection {
  background-color: #cbeafb;
}

body[dark='true'] ::selection {
  background-color: #2b8baa;
}

body[dark='false'] {
  background-color: #fff;
}

body[dark='true'] {
  background-color: #000;
}

html:has(main > div.snappable-page) {
  scroll-snap-type: y mandatory;
}
